@import url("https://fonts.googleapis.com/css2?family=Besley:wght@700&family=Roboto:wght@300;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.unsee {
  display: none;
}

.font-selif {
  font-family: "Besley", serif;
}

.logs-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logs-list__list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: 65px;
}

.virtual-interface {
  font-weight: 300;
}

.top-box {
  display: flex;
  justify-content: space-between;
}

.top-box > div {
  min-width: 48%;
  margin: 10px 5px 0px;
}

.secondary-box {
  border: black solid 1px;
  padding: 5px;
}

.midi-log {
  min-height: 290px;
  height: 155px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  font-weight: 500;
}

.midi-info h2 {
  font-size: 20px;
  margin: 0px 3px 5px;
}

.logs-list > h2 {
  margin: 0px 3px 2px;
}

.virtual-interface {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.virtual-interface__box {
  margin-right: 30px;
}

.label::after {
  content: ":";
}

.send-button {
  padding: 0px 40px;
}

.not-support {
  margin: 20px;
}
